<div>
    <p>Provide personal details, such as name, phone number, email address etc. Make sure to validate the input to ensure accurate information.</p>
    <br/>
        <form class="form-container" [formGroup]=personalForm>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input  matInput formControlName="firstName">
                <mat-error *ngIf="personalForm.get('firstName')!.hasError('required')">First name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Last Name</mat-label>
                <input  matInput formControlName="lastName">
                <mat-error *ngIf="personalForm.get('lastName')!.hasError('required')">Last name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                <mat-error *ngIf="personalForm.get('email')!.hasError('email')">Please enter a valid email</mat-error>
                <mat-error *ngIf="personalForm.get('email')!.hasError('required')">Email ID is required</mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input type="tel" maxlength="10" matInput formControlName="phone">
                <mat-error *ngIf="personalForm.get('phone')!.hasError('pattern')">Please enter a valid phone number</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
            </mat-form-field>
            <mat-slide-toggle formControlName="additionalData" color="primary">{{(additionalData ?  'Hide' : 'Edit') + ' additional details'}}</mat-slide-toggle>
        </form>
       
        <ng-container *ngIf="additionalData">
            <br/>
            <br/>
            <form class="form-container" [formGroup]="additionalForm">
                <mat-form-field appearance="outline" >
                    <mat-label>Address</mat-label>
                    <input  matInput formControlName="address">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>PIN</mat-label>
                    <input  type="number" matInput formControlName="pin">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
            </form>
        </ng-container>
        <br/>
        <br/>
        <h3>Profile Image</h3>

            <input type="file" *ngIf="!avaterImage" (change)="onFileChange($event)" accept="image/*">
            <br/>
            <br/>
            <div class="avatar-container" *ngIf="avaterImage">
         
                <mat-icon (click)="removeAvatarImg()">cancel</mat-icon>
                <img [src]="avaterImage" height="100px" width="100px">
            </div>    
</div>