<div class="resume--container">
    <div class="left--panel">

        <section id="avatar">
            <img [src]="avaterImage()">
        </section>
        <section id="contact">
            <div class="contact--item">
                <mat-icon>location_on</mat-icon>
                <strong>{{resumeData.personalDetails.personalInfo.city +', '+resumeData.personalDetails.personalInfo.country}}</strong>
            </div>
            <div class="contact--item">
                <mat-icon>phone</mat-icon>
                <strong>{{resumeData.personalDetails.personalInfo.phone}}</strong>
            </div>
            <div class="contact--item">
                <mat-icon>email</mat-icon>
                <strong>{{resumeData.personalDetails.personalInfo.email}}</strong>
            </div> 
        </section>
        <section id="summary" class="bd--top">
            <div class="subtitle">SUMMARY</div>
            <p>{{resumeData.professionalSummary.profSummary}}</p>
        </section>
        <section id="summary" class="bd--top">
            <div class="subtitle">PERSONAL INTEREST</div>
            <ul>
                <li *ngFor="let interest of resumeData.personalInterest">{{interest}}</li>
            </ul>
        </section>

    </div>
    <div class="right--panel">
        <section>
            <div class="name">{{resumeData.personalDetails.personalInfo.firstName +' '+resumeData.personalDetails.personalInfo.lastName}} </div>
        </section>
        <section id="skills"class="bd--top">
            <div class="subtitle">SKILLS</div>
            <mat-chip-list>
                <mat-chip *ngFor="let skill of resumeData.skillSummary">{{skill}} </mat-chip>
            </mat-chip-list>
        </section>
        <section id="experience"class="bd--top">
            <div class="subtitle"> WORK EXPERIENCE</div>
            <div *ngFor="let employment of resumeData.employmentHistory.employment" class="employment">
                <div class="employment--duration">
                    <small>{{employment.startDate | date : 'MMM YYYY' }}</small>
                    <small>{{' - '}}</small> 
                    <small>{{employment.endDate| date : 'MMM YYYY'}}</small>
                </div>
                <div class="employment--title">
                    <div><strong>{{employment.role}}</strong></div>
                    <div>|</div>
                    <div>{{employment.organization}}</div>
                </div>
                <div class="employment--details">
                    <ul>
                        <ng-container *ngFor="let task of employment.tasks">
                            <li *ngIf="task">{{task}}</li>
                        </ng-container>
                        
                    </ul>

                </div>
            </div>
           
        </section>
    </div>
</div>
