<p>List your relevant work history in reverse chronological order. Include job titles, company names, dates, and a concise description of your responsibilities and achievements</p>

<div [formGroup]="primaryForm">
    <div formArrayName="employment">

        <mat-card *ngFor="let emp of empArr.controls; let i=index">
            <mat-card-header>
                <button mat-icon-button aria-label="Add" (click)="removeEmployment(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-card-header>
            <div [formGroup]="emp| convertControl: 'FormGroup'">
                <div class="form-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Job Description</mat-label>
                        <input matInput formControlName="role">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Organization</mat-label>
                        <input matInput formControlName="organization">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="sDatePicker" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="sDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #sDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="eDatePicker" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="eDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #eDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <h3>Tasks/Achivements</h3>
                <div formArrayName="tasks" class="emp--task">
                    <ol>
                        <li *ngFor="let task  of (emp|convertControl: 'FormArray').get('tasks').controls; let j=index">
                            <mat-form-field appearance="legacy">
                                <input [id]="i+'_'+j" matInput [formControl]="task | convertControl: 'FormControl'" (keyup.enter)="addTask(emp, $event, i,j)" (keyup.delete)="clear(emp,i, j, $event)" (keyup.backspace)="clear(emp, i, j, $event)">
                            </mat-form-field>
                        </li>
                    </ol>
                </div>
            </div>
            </mat-card>
    </div>
    <br/>
    <div class="footer">
        <button mat-raised-button color="primary" aria-label="Add" (click)="addEmployment()">
            <mat-icon>add</mat-icon>
            Add Employment
        </button>
    </div>
    

</div>

