.mat-card{
    margin-bottom: 5px;
}

.mat-card-header{
    display: flex;
    justify-content: flex-end;
}

.footer{
    display: flex;
    justify-content: flex-start;
}

.emp--task{
    display: flex;
    flex-direction: column;
    width: 80%;

}