<div class="resume-container" >
    <form [formGroup]="resumeForm">
        <mat-stepper orientation="vertical" linear="true" #stepper>
            
            <mat-step [stepControl]="this.resumeForm.controls.personalDetails">
                <ng-template matStepLabel>
                    <div class="label">
                        <span>Personal Details</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.personalDetails.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-personal-details formControlName="personalDetails"></app-personal-details>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.professionalSummary">
                <ng-template matStepLabel>
                    
                    <div class="label">
                        <span>Professional Summary</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.professionalSummary.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-professional-summary formControlName="professionalSummary"></app-professional-summary>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.employmentHistory">
                <ng-template matStepLabel>Employment History</ng-template>
                <app-employment-history formControlName="employmentHistory"></app-employment-history>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.personalInterest">
                <ng-template matStepLabel>Personal Interest</ng-template>
                <app-personal-interest formControlName="personalInterest"></app-personal-interest>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>  
        </mat-stepper>

    </form>
    
</div>
<br/>
<section class="example-section">
    <mat-checkbox class="checkbox-margin">Awards & Recognition</mat-checkbox>
    <mat-checkbox class="checkbox-margin">Education</mat-checkbox>
</section>

