<div class="resume-container" >
    <form [formGroup]="resumeForm">
        <mat-stepper orientation="vertical" linear="true" #stepper>
            
            <mat-step [stepControl]="this.resumeForm.controls.personalDetails">
                <ng-template matStepLabel>
                    <div class="label">
                        <span>Personal Details</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.personalDetails.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-personal-details formControlName="personalDetails"></app-personal-details>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.professionalSummary">
                <ng-template matStepLabel>
                    <div class="label">
                        <span>Professional Summary</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.professionalSummary.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-professional-summary formControlName="professionalSummary"></app-professional-summary>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.skillSummary">
                <ng-template matStepLabel>
                    <div class="label">
                        <span>Skills</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.skillSummary.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-skill-summary formControlName="skillSummary"></app-skill-summary>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>  
            <mat-step [stepControl]="this.resumeForm.controls.employmentHistory">
                <ng-template matStepLabel>
                    
                    <div class="label">
                        <span>Employment History</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.employmentHistory.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-employment-history formControlName="employmentHistory"></app-employment-history>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="this.resumeForm.controls.personalInterest">
                <ng-template matStepLabel>
                    <div class="label">
                        <span>Personal Interest</span> 
                        <mat-icon *ngIf="this.resumeForm.controls.personalInterest.valid">check_circle</mat-icon>
                    </div>
                </ng-template>
                <app-personal-interest formControlName="personalInterest"></app-personal-interest>
                <br/>
                <div class="step-action">
                    <button  mat-raised-button matStepperPrevious>Back</button>
                    <button  mat-raised-button color="primary" routerLink="/view-resume">Generate Resume</button>
                </div>
            </mat-step>  
        </mat-stepper>
    </form>
    
</div>

