<p>Write 2-4 short & energetic sentences to interest the reader! Mention your role, experience & most importantly - your biggest achievements, best qualities and skills.</p>

<form class="form-container" [formGroup]="profSummaryForm">
        <mat-form-field appearance="outline" style="grid-column-start: span 2;">
            <mat-label>Professional summary</mat-label>
            <textarea matInput formControlName="profSummary"></textarea>
            <mat-error *ngIf="profSummaryForm.get('profSummary')!.hasError('required')">Please enter professional summary</mat-error>
        </mat-form-field>  
</form>